{% extends "base.html" %}
{% block content %}
<div class="text-on-surface">
  <h1 class="text-5xl text-nowrap text-primary drop-shadow-[0_1.2px_1.2px_#303F9F] mb-8 ml-8">Chaiwat Klanruangsaeng</h1>
  <p class="text-3xl text-secondary max-w-3/4 ml-8">Hi, I'm Chaiwat Klanruangsaeng, a passionate Computer Engineer with expertise in software development and modern web and mobile technologies.<span class="bg-yellow-100">I specialize in Python, Java, Tailwind CSS, Vue.js, Jetpack Compose, Django, and Git , allowing me to build efficient, scalable, and user-friendly applications.</span>

    With a strong problem-solving mindset, I enjoy tackling complex challenges and continuously learning new technologies to stay ahead in the field. Whether it's crafting sleek front-end interfaces or designing robust back-end systems, I strive to create high-quality software solutions.
    
    Let's connect and build something amazing together! </p>
</div>
{% endblock %}