{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Login Page</title>

</head>
<body class="flex items-center justify-center min-h-screen bg-surface">
    <div class="flex h-screen w-full md:h-fit max-w-4xl bg-primary-container rounded-lg shadow-lg overflow-hidden">
        <!-- Left Side: Login Form -->
        <div class="w-full md:w-1/2 p-8">
            <h2 class="text-2xl font-semibold text-primary text-center">Welcome back!</h2>
            <!-- <p class="text-sm text-gray-500 text-center mt-2">The faster you fill up, the faster you get a ticket</p> -->
            <form class="mt-6" action="{% url 'signin' %}?next={{request.GET.next}}" method="POST">
                {% csrf_token %}
                <label class="block text-primary">Username</label>
                <input name="username" type="text" class="w-full px-4 py-2 mt-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary text-primary" placeholder="Enter your username">
                <label class="block mt-3 text-primary">Password</label>
                <input name="password" type="password" class="w-full px-4 py-2 mt-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary text-primary" placeholder="********">
                <div class="flex justify-between items-center mt-4">
                    <label class="flex items-center text-sm text-tertiary hover:text-on-primary">
                        <input type="checkbox" class="mr-1"> Remember me
                    </label>
                    <a href="#" class="text-sm text-tertiary hover:text-on-primary">Forgot Password?</a>
                </div>
                <button type="submit" value="submit" class="w-full mt-6 bg-primary text-on-primary py-2 rounded-lg hover:bg-secondary">Sign In</button>
                
            </form>
            <!-- <a href="#" class="w-full mt-4 flex items-center justify-center border py-2 rounded-lg hover:bg-gray-200">
                <img src="https://www.svgrepo.com/show/355037/google.svg" class="w-5 h-5 mr-2" alt="Google Logo">
                Sign In with Google
            </a> -->
            <p class="mt-6 text-sm text-center text-gray-600">Don't have an account? <a href="{% url 'signup' %}?next={{request.GET.next}}" class="text-black hover:text-on-primary">Sign up</a></p>
        </div>
        
        <!-- Right Side: Image Section -->
        <div class="w-0 md:w-1/2 relative">
            <img src="https://picsum.photos/300/200/?blur" alt="" class="w-full h-full object-cover">
            <div class="absolute inset-0 bg-black opacity-40"></div>
            <div class="absolute bottom-6 left-6 text-white">
                <!-- caption -->
                <!-- <h2 class="text-3xl font-semibold">Karina 카리나</h2>
                <p class="text-sm mt-1">Aespa (에스파) is a South Korean girl group formed by SM Entertainment.</p> -->
            </div>
        </div>
    </div>
</body>
</html>
