<div class="flex h-48 m-2 bg-primary-container rounded-lg justify-between">
  <div class="flex flex-col m-4">
    <div class=" flex flex-row items-center mt-2">
      <img
        src="{{blog.created_by.profile.profile_image.url}}"
        alt="{{blog.create_by}} profile image"
        width="24"
        height="24"
        class="mx-2"
      />
      <p>{{blog.created_by}}</p>
    </div>
    <h2 class="text-3xl mx-2 text-on-primary-container">{{blog.title}}</h2>
    <p class="overflow-hidden mx-4 text-on-primary-container">
      {{blog.subtitle}}
    </p>

  </div>
  <div class="flex-none  m-4 content-center justify-end ">
    {% if blog.cover %}
    <img class="object-cover object-center   aspect-video w-48" src="{{blog.cover.url}}" alt="{{blog.title}} cover image" />
    {% endif %}
  </div>
</div>
